*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 
NAVIGATION BAR
*/
.navbar{
    margin-top: 24px;
    height: 60px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo:hover{
    color: rgb(100, 21, 255);
    cursor: pointer;
}
.nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoa{
    width: 40px;
}
.links__navbar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.about__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.pricing__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.contact__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.login__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.signup__link:hover{
    cursor: pointer;
    background-color: purple;
}
.signup__link{
    padding: 8px 16px;
    border: 1px solid rgb(100, 21, 255);
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 16px;
}
.login{
    margin-left: 30px;
}
/* 
TEMPLATES
*/
.row__templates{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}
.templates{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 30px;
}
.temp__span{
    margin-bottom: 50px;
}
.tab__purple{
    color: rgb(100, 21, 255);
}
.templates__img{
    width: 60%;
}
.temp__img{
    width: 100%;
}
.temp__text{
    font-size: 24px;
    font-weight: 300;
    color: rgb(85, 85, 85);
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 20px;
    width: 80%;
    font-size: 8px;
    padding: 2px;
}
.email:hover{
    border-color: rgb(100, 21, 255);
}
.email__box{
    border: none;
    border-radius: 20px;
    width: 78%;
    height: 100%;
    padding-left: 10px;
}
.getstarted{
    border: 1px solid rgb(100, 21, 255);
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 8px;
    border-radius: 16px;
}
.getstarted:hover{
    cursor: pointer;
    background-color: purple;
}
.company__list{
    width: 90%;
}
.trusted__customers{
    color: lightgray;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 10px;
}
/* 
FEATURES
*/
.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
    flex-direction: column;
    margin-bottom: 50px;
}
.features{
    color: rgb(100, 21, 255);
    font-size: 24px;
    font-weight: 700;
}
.service{
    margin-top: 64px;
    font-size: 64px;
    margin-bottom: 64px;
}
.description{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    color: rgb(124, 139, 161);
    margin-bottom: 24px;
}
.features__items{
    display: flex;
    width: 70%;
    justify-content: center;
}
.item__img{
    padding: 10px;
    border: 1px solid rgb(124, 139, 161);
    width: 50px;
    display: flex;
    height: 50px;
    border-radius: 100%;
    margin-right: 8px;
}
.itema{
    display: flex;
    width: 33%;
}
.item__header{
    font-size: 24px;
    padding-bottom: 16px;
}
.item__description{
    color: rgb(124, 139, 161);
}
.itemb{
    display: flex;
    width: 33%;
}
.itemc{
    display: flex;
    width: 33%;
}
.features__items__second{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    width: 70%;
}
.itemd{
    display: flex;
    width: 33%;
}
.iteme{
    display: flex;
    width: 33%;
}
.itemf{
    display: flex;
    width: 33%;
}
.quality__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 150px;
}
.quality__text__container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.quality__image{
    width: 100%;
    border: 1px solid rgb(124, 139, 161);
    border-radius: 5px;
}
.quality__img__container{
    width: 50%;
}
.quality__header{
    color: rgb(100, 21, 255);
    font-weight: 700;
}
.quality__subheader{
    font-size: 50px;
    font-weight: bold;
}
.quality__subtext{
    margin-top: 24px;
    font-size: large;
    color: rgb(124, 139, 161);
}
.learn__more{
    margin-top: 24px;
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    height: 50px;
    align-items: center;
    border-radius: 25px;
}
.learn__more:hover{
    cursor: pointer;
    background-color: rgba(100, 21, 255, 0.9);
}
/* 
STEPS TO GET STARTED
*/
.steps__getstarted{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 200px;
    margin-top: 200px;
}
.steps__img__container{
    width: 700px;
}
.get__started__img{
    width: 700px;
    margin-top: 50px;
}
.steps{
    font-weight: bold;
    color: rgb(100, 21, 255);
    margin-bottom: 24px;
}
.easy{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.numbering{
    display: flex;
    color: rgb(124, 139, 161);
    font-size: 30px;
    margin-right: 24px;
}
.step__1{
    display: flex;
    flex-direction: column;
}
.step__1__container{
    display: flex;
}
.step__2__container{
    display: flex;
    margin-top: 24px;
}
.step__3__container{
    display: flex;
    margin-top: 24px;
}

.register{
    font-size: 24px;
    margin-bottom: 24px;
}
.create__account{
    width: 80%;
    color: rgb(124, 139, 161);
}
.values__nav{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;

    margin-bottom: 200px;
}
.values__container{
    width: 50%;
}
.values__header{
    font-weight: 700;
    font-size: 24px;
    margin-bottom: 24px;
}
.values__subheader{
    font-weight: bold;
    font-size: 40px;
}
.values__text{
    color: rgb(124, 139, 161);
    margin-top: 24px;
    font-size: 16px;
    width: 85%;
}
.values__img__container{
    width: 50%;
}
.values__img{
    width: 100%;
}
.principles__container{
    width: 50%;
    margin-top: 24px;
    display: flex;
}
.header{
    display: flex;
    margin-bottom: 24px;
}
.affordable__logo{
    color: darkgreen;
    background-color: rgba(0,255,0,0.5);
    width: 40px; 
    height: 40px;
    display: flex;
    justify-content: center;
    border-radius: 100%;
    align-items: center;
}
.affordable__header{
    display: flex;
    align-items: center;
    margin-left: 16px;
    font-size: 24px;
    color: rgb(0,0,100);
    font-weight: 600;
}
.affordable__subtext{
    color: rgb(124, 139, 161);
    width: 80%;
}
.professionalism__nav{
    margin-left: 42px;
}
.professionalism__container{
    display: flex;
    margin-bottom: 24px;
}
.professionalism__logo{
    color: darkred;
    background-color: rgba(255,0,0,0.5);
    border-radius: 100%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 16px;
}
.professionalism__subheader{
    display: flex;
    align-items: center;
    font-size: 24px;
    font-weight: 600;
    color: rgb(0,0,100);
}
.professionalism__subtext{
    color: rgb(124, 139, 161);
}
/* 
PRICING
*/
.pricing__nav{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 42px;
}
.pricing__subtitle{
    display: flex;
    justify-content: center;
    font-size: 16px;
    font-weight: 700;
}
.plans{
    margin-top: 24px;
    font-size: 36px;
    font-weight: 700;
    color: rgb(0,0,100);
}
.plans__subtext{
    color: rgb(124, 139, 161);
    width: 50%;
    text-align: center;
    margin-top: 24px;
}
.pricing__item__getpricing{
    display: flex;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 150px;
    justify-content: space-between;
}
.personal__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid rgb(124, 139, 161);
    border-radius: 16px;
    width: 30%;
}
.personal{
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}
.personal__pricing{
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}
.per__enter__monthly{
    color: rgb(124, 139, 161);
    margin-bottom: 36px;
    font-weight: 600;
}
.break{
    width: 100%;
}
.individual__plan{
    margin-top: 36px;
    font-size: 24px;
    font-weight: 600;
}
.templates__personal{
    color: rgb(124, 139, 161);
    margin-top: 24px;
}
.templates__personal__final{
    color: rgb(124, 139, 161);
    margin-top: 24px;
    margin-bottom: 24px;
}
.buynow__personal{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(115deg, rgb(56, 178, 172) 0%, rgb(129, 230, 217) 100%);;
    width: 50%;
    height: 50px;
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
}
.buynow__personal:hover{
    cursor: pointer;
}
.business__container{
    width: 30%;
    border: 1px solid black;
    border-radius: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgb(100, 21, 255);
}
.business__title{
    color: white;
    font-size: 24px;
    font-weight: 600;
    margin-top: 24px;
    margin-bottom: 24px;
}
.business__pricing{
    color: white;
    font-size: 36px;
    font-weight: 600;
    margin-bottom: 24px;
}
.business__monthly{
    color: white;
    margin-bottom: 36px;
    font-weight: 600;
}
.business__plan{
    color: white;
    margin-top: 36px;
    font-size: 24px;
    font-weight: 600;
}
.business__templates{
    color: white;
    margin-top: 24px;
}
.business__templates__final{
    color: white;
    margin-top: 24px;
    margin-bottom: 24px;
}
.buynow__business{
    color: rgb(100, 21, 255);
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    width: 50%;
    height: 50px;
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
}
.buynow__business:hover{
    cursor: pointer;
}
.enterprise__container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    border: 1px solid black;
    border-radius: 16px;
}
.buynow__enterprise{
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(115deg, rgb(245, 101, 101) 0%, rgb(254, 178, 178) 100%);;
    width: 50%;
    height: 50px;
    border-radius: 24px;
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 600;
}
.buynow__enterprise:hover{
    cursor: pointer;
}
.testim__nav{
    display: flex;
    margin: 0 auto;
    width: 100%;
    max-width: 1200px;
    margin-bottom: 150px;
}
.testim__img{
    width: 50%;
}
.testim__img__WIN{
    width: 100%;
}
.testim__text{
    width: 50%;
    margin-left: 24px;
}
.testim__subtitle{
    font-size: 16px;
    font-weight: 550;
    margin-bottom: 24px;
}
.testim__title{
    font-size: 36px;
    font-weight: 700;
    color: rgb(0,0,100);
    margin-bottom: 24px;
}
.testim__subtext{
    color: rgb(124, 139, 161);
}
.star{
    width: 15px;
    height: 15px;
}
.stars{
    display: flex;
}