*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

/* 
NAVIGATION BAR
*/
.navbar{
    margin-top: 24px;
    height: 60px;
}
.row{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
.logo{
    width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo:hover{
    color: rgb(100, 21, 255);
    cursor: pointer;
}
.nav{
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logoa{
    width: 40px;
}
.links__navbar{
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
}
.about__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.pricing__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.contact__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.login__link:hover{
    color: rgb(100, 21, 255);
    text-decoration: underline;
    cursor: pointer;
}
.signup__link:hover{
    cursor: pointer;
    background-color: purple;
}
.signup__link{
    padding: 8px 16px;
    border: 1px solid rgb(100, 21, 255);
    background-color: rgb(100, 21, 255);
    color: white;
    border-radius: 16px;
}
.login{
    margin-left: 30px;
}
/* 
TEMPLATES
*/
.row__templates{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    margin-top: 100px;
}
.templates{
    display: flex;
    flex-direction: column;
    width: 40%;
    font-size: 30px;
}
.temp__span{
    margin-bottom: 50px;
}
.tab__purple{
    color: rgb(100, 21, 255);
}
.templates__img{
    width: 60%;
}
.temp__img{
    width: 100%;
}
.temp__text{
    font-size: 24px;
    font-weight: 300;
    color: rgb(85, 85, 85);
}
.email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 30px;
    border: 1px solid rgb(226, 232, 240);
    border-radius: 20px;
    width: 80%;
    font-size: 8px;
    padding: 2px;
}
.email:hover{
    border-color: rgb(100, 21, 255);
}
.email__box{
    border: none;
    border-radius: 20px;
    width: 78%;
    height: 100%;
    padding-left: 10px;
}
.getstarted{
    border: 1px solid rgb(100, 21, 255);
    background-color: rgb(100, 21, 255);
    color: white;
    padding: 8px;
    border-radius: 16px;
}
.getstarted:hover{
    cursor: pointer;
    background-color: purple;
}
.company__list{
    width: 90%;
}
.trusted__customers{
    color: lightgray;
    margin-top: 30px;
    margin-bottom: 20px;
    font-size: 10px;
}
/* 
FEATURES
*/
.container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;
    flex-direction: column;
    margin-bottom: 50px;
}
.features{
    color: rgb(100, 21, 255);
    font-size: 24px;
    font-weight: 700;
}
.service{
    margin-top: 64px;
    font-size: 64px;
    margin-bottom: 64px;
}
.description{
    display: flex;
    justify-content: center;
    text-align: center;
    width: 60%;
    color: rgb(124, 139, 161);
    margin-bottom: 24px;
}
.features__items{
    display: flex;
    width: 70%;
    justify-content: center;
}
.item__img{
    padding: 10px;
    border: 1px solid rgb(124, 139, 161);
    width: 50px;
    display: flex;
    height: 50px;
    border-radius: 100%;
    margin-right: 8px;
}
.itema{
    display: flex;
    width: 33%;
}
.item__header{
    font-size: 24px;
    padding-bottom: 16px;
}
.item__description{
    color: rgb(124, 139, 161);
}
.itemb{
    display: flex;
    width: 33%;
}
.itemc{
    display: flex;
    width: 33%;
}
.features__items__second{
    margin-top: 24px;
    display: flex;
    justify-content: center;
    width: 70%;
}
.itemd{
    display: flex;
    width: 33%;
}
.iteme{
    display: flex;
    width: 33%;
}
.itemf{
    display: flex;
    width: 33%;
}
.quality__container{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 150px;
}
.quality__text__container{
    display: flex;
    flex-direction: column;
    width: 50%;
}
.quality__image{
    width: 100%;
    border: 1px solid rgb(124, 139, 161);
    border-radius: 5px;
}
.quality__img__container{
    width: 50%;
}
.quality__header{
    color: rgb(100, 21, 255);
    font-weight: 700;
}
.quality__subheader{
    font-size: 50px;
    font-weight: bold;
}
.quality__subtext{
    margin-top: 24px;
    font-size: large;
    color: rgb(124, 139, 161);
}
.learn__more{
    margin-top: 24px;
    color: white;
    width: 150px;
    display: flex;
    justify-content: center;
    background-color: rgb(100, 21, 255);
    height: 50px;
    align-items: center;
    border-radius: 25px;
}
.learn__more:hover{
    cursor: pointer;
    background-color: rgba(100, 21, 255, 0.9);
}
/* 
STEPS TO GET STARTED
*/
.steps__getstarted{
    width: 100%;
    max-width: 1200px;
    display: flex;
    margin: 0 auto;
    margin-bottom: 50px;
    margin-top: 200px;
}
.steps__img__container{
    width: 700px;
}
.get__started__img{
    width: 700px;
    margin-top: 50px;
}
.steps{
    font-weight: bold;
    color: rgb(100, 21, 255);
    margin-bottom: 24px;
}
.easy{
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 32px;
}
.numbering{
    display: flex;
    color: rgb(124, 139, 161);
    font-size: 30px;
    margin-right: 24px;
}
.step__1{
    display: flex;
    flex-direction: column;
}
.step__1__container{
    display: flex;
}
.step__2__container{
    display: flex;
    margin-top: 24px;
}
.step__3__container{
    display: flex;
    margin-top: 24px;
}

.register{
    font-size: 24px;
    margin-bottom: 24px;
}
.create__account{
    width: 80%;
    color: rgb(124, 139, 161);
}